.contacto{
    margin-top: 5px;
    & h1{
        text-align: center;
        font-weight: bold;
        background-color:rgb(159, 252, 255);
        color: grey;
    }
    & .mediosContacto{
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 3px;
        column-gap: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        justify-items: stretch;
        align-items: center;
        & .imgChat{
            width: 65px;
            height: 70px;
        }
        & .imgMail{
            width: 55px;
            height: 65px;
        }
        & .imgIg{
            width: 55px;
            height: 65px;
        }
        & .numero{
            display: inline-block;
            text-align: start;
            font-weight: bold;
        }
        & .mail{
            display: inline-block;
            text-align: start;
            font-weight: bold;
        }
        & .instagram{
            display: inline-block;
            text-align: start;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
    }
    & .formulario{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        & h3{
            text-align: center;
            background-color: grey;
            color:rgb(159, 252, 255);
            font-weight: bold;
        }
        & .formularioContacto{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    & .puntoDeVenta{
        margin-bottom: 5px;
        padding-left: 10px;
        & h3{
            text-align: center;
            background-color: grey;
            color:rgb(159, 252, 255);
            font-weight: bold;
        }
    }
}