.contacto{
    margin-top: 5px;
    & h1{
        text-align: center;
        font-weight: bold;
        background-color:rgb(159, 252, 255);
        color: grey;
    }
    & .mediosContacto{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        & a{
            & img{
                width: 65px;
                height: 70px;
            }
        }
    }
    & .formulario{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        & h3{
            text-align: center;
            background-color: grey;
            color:rgb(159, 252, 255);
            font-weight: bold;
        }
        & .formularioContacto{
            margin-top: 5px;
            margin-bottom: 5px;
            max-width: 500px;
            margin: 0 auto;
        }
    }
    & .puntoDeVenta{
        margin-bottom: 5px;
        padding-left: 10px;
        & h3{
            text-align: center;
            background-color: grey;
            color:rgb(159, 252, 255);
            font-weight: bold;
        }
        & iframe{
            width: 100%;
        }
    }
}