.iniciarSesion{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
    & h1{
        background-color:rgb(159, 252, 255);
        color: grey;
        text-align: center;
        font-weight: bold;
    }
    & h3{
        text-align: center;
        background-color: grey;
        color:rgb(159, 252, 255);
        font-weight: bold;
        margin-top: 15px;
    }
    & #registrate {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        & .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        & .form-signin .checkbox {
            font-weight: 400;
        }
        & .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        & .form-signin .form-control:focus {
            z-index: 2;
        }
        & .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        & .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}