main{
    animation: fondo 5s 1;
    @keyframes fondo{
        0%{
            background-color: rgb(159, 252, 255);
        }
        100%{
        background-color: oldlace;
        }
    }
    & .carouselImg{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        & #demo{
            width: 750px;
            height: 400px;
            & .carousel-item img{
                width: 750px;
                height: 400px;
            }
        }
    }
    & .sectionProductos{
        & h1{
            background-color:rgb(159, 252, 255);
            color: grey;
            font-weight: bold;
            text-align: center;
        }
        & .productos{
            & ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                & li{
                    display: inline-block;
                    & a{
                        color: grey;
                        text-decoration: none;
                        text-align: center;
                        & img{
                            width: 250px;
                            height: 400px;
                            margin-left: 1px;
                            margin-right: 1px;
                        }
                    }
                }
            }
        }
    }
    & .informacion{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10px;
        align-items: center;
        justify-items: center;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        & div{
            border: 2px solid grey;
            width: 70%;
            height: 100%;
            & h6{
                text-align: center;
                color: grey;
                font-weight: bold;
            }
            & p{
                text-align: center;
                color: grey;
            }
        }
    }
    //     & .enviosInterior{
    //         background-color: rgb(202, 200, 200);
    //         & h5{
    //             text-align: center;
    //         }
    //         & p{
    //             text-align: center;
    //         }
    //         & img{
    //             width: 50px;
    //             height: 50px;
    //         }
    //     }
    //     & .comprasMayor{
    //         background-color:rgb(202, 200, 200) ;
    //         & h5{
    //             text-align: center;
    //         }
    //         & p{
    //             text-align: center;
    //         }
    //         & Img{
    //             width: 50px;
    //             height: 50px;
    //         }
    //     }
    // }
    & .destacados{
        & h2{
            background-color:rgb(159, 252, 255);
            color: grey;
            font-weight: bold;
            text-align: center;
        }
        & .imgDestacados{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 10px;
            & img{
                width: 150px;
                height: 200px;
            }
            & img:hover{
                transform: scale(1.2);
            }
        }
    }
}