/* INDEX */
/* header-footer */
@media only screen and (max-width: 768px){
    footer {
        display: grid;
        grid-template-columns: 15% 85%;
        column-gap: 1px;
        & .logo{
            width: 100px;
            height: 100px;
            & .imgLogo{
                width: 90px;
                padding: 0px 3px 0px 3px;
                margin-top: 4px;
                margin-bottom: 2px;
            }
        }
    }
    .sectionProductos h1{
        margin-top: 5px;
    }
    .productos ul{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 480px){
    footer{
        grid-template-columns: 30% 70%;
        column-gap: 0px;
    }
    main .carouselImg #demo{
        width: 90%;
        height: 250px;
    }
    main .carouselImg #demo .carousel-item img{
        width: 90%;
        height: 250px;
    }
    .imgDestacados{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "img1 img2"
        "img3 img4";
        row-gap: 3px;
        justify-items: center;
    }
    .dest1{
        grid-area: img1;
    }
    .dest2{
        grid-area: img2;
    }
    .dest3{
        grid-area: img3;
    }
    .dest4{
        grid-area: img4;
    }
    .divNosotras{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divNosotras p{
        padding-left: 10px;
        padding-right: 10px;
    }
    .prendas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
