.preguntasFrecuentes{
    margin-top: 10px;
    & h1{
        background-color:rgb(159, 252, 255);
        color: grey;
        text-align: center;
        font-weight: bold;
    }
    & .infoPreguntas{
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 2px;
        margin-top: 10px;
        & p{
            text-align: center;
            background-color: grey;
            color:rgb(159, 252, 255);
            font-weight: bold;
        }
        & .card{
            & .card-body1{
                display: flex;
                flex-direction: column;
                align-items: center;
                & ol{
                    text-align: justify;
                    margin-top: 2px;
                    padding-left: 5px;
                    padding-right: 5px;
                    list-style-type: decimal;
                }
            }
            & .card-body3{
                display: flex;
                flex-direction: column;
                align-items: center;
                & ul{
                    text-align: justify;
                    margin-top: 2px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        & .mediosDePago{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 2px;
        }
    }
}
@mixin medios($width, $height) {
    height: $height;
    width: $width;
}
.pago {
    @include medios(90px, 90px);
}