.productoBodys, .productoConjuntos, .productoBombachas{
    text-align: center;
    font-weight: bold;
    background-color:rgb(159, 252, 255);
    color: grey;
    margin-top: 10px;
}
.prendas{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "img1 seleccionUno"
    "img2 seleccionDos"
    "img3 seleccionTres"
    "img4 seleccionCuatro";
    margin-top: 4px;
    & .img1, .img1b{ 
        grid-area: img1;
    } 
    & .img2, .img2b{ 
        grid-area: img2;
    }
    & .img3, .img3b{ 
        grid-area: img3;
    }
    & .img4, .img4b{ 
        grid-area: img4;
    }
    & .img1, .img2,  .img3, .img4{
        justify-self: center;
        width: 150px;
        height: 200px
    }
    & .img1b, .img2b, .img3b, .img4b{
        justify-self: center;
        width: 150px;
        height: 200px;
    }
}
.prendasConjuntos{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "img1c seleccionUno"
    "img2c seleccionDos"
    "img3c seleccionTres";
    margin-top: 4px;
    & .img1c{
        grid-area: img1c;
    }
    & .img2c{
        grid-area: img2c;
    }
    & .img3c{
        grid-area: img3c;
    }
    & .img1c, .img2c, .img3c{
        justify-self: center;
        width: 150px;
        height: 200px;
    }
}
.seleccionUno{ 
    grid-area: seleccionUno;
} 
.seleccionDos{ 
    grid-area: seleccionDos; 
} 
.seleccionTres{ 
    grid-area: seleccionTres; 
}
.seleccionCuatro{ 
    grid-area: seleccionCuatro; 
}
.seleccionUno, .seleccionDos, .seleccionTres, .seleccionCuatro{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.tabla{
    & h3{
        text-align: center;
        background-color: grey;
        color:rgb(159, 252, 255);
        font-weight: bold;
        margin-top: 15px;
    }
    & div{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        & table{
            width: 300px;
            height: 200px;
        }
    }
}