@import "body-header-footer";
@import"main";
@import "preguntasfrecuentes";
@import "contacto";
@import "nosotras";
@import "iniciarsesion";
@import "productos";
@import "mediaqueries";

@import url('https://fonts.googleapis.com/css2? family = Comforter &familia = M + PLUS + 1 + Código & display = swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

